{% extends 'base.html' %}

{% block title %}Мой блог{% endblock %}
{% block side_bar %}
    <h4><p><font color="green">Мой блог</font></p></h4>
    {% if request.user.is_authenticated %}
        <h3><a href="{% url "logout" %}">Выйти</a></h3>
        {% else %}
             <li><a href="{% url "login" %}">Войти</a></li><br>
        {% endif %}
{% endblock %}

{% block content %}
{%  for pub in posts %}
    <p><h4>Заголовок: {{ pub.title }}</h4></p>
    <p>Номер: {{ pub.id }}</p>
    <p>Автор: {{ pub.author }}</p>
    <p>дата публикации: {{ pub.created }}</p>
     <p> Текст: {{ pub.text|truncatewords:10 }}<br>
    </p><br>
    {% endfor %}
{% endblock content%}

