{% block side_bar %}
        {% if request.user.is_authenticated %}

             <a href="{% url "logout" %}">Выйти</a>
        {% else %}
             <h2><li><a href="{% url "login" %}">Войти</a></li></h2>

        {% endif %}
<h2><p><a href="{% url 'list' %}">Мой блог</a></p></h2>
{% endblock %}
                {% if user.is_authenticated %}
              <h3>Ваше имя: {{ user.first_name }}</h3>
              <h3> Ваш логин: {{ user.username }}</h3>
                {% endif %}
            {% block content %}
  <style>
   p {
    text-indent: 20px; /* Отступ строки в пикселах */
   }
  </style>
                {% for all_posts_s in all_posts %}
                    <h4>Заголовок:{{ all_posts_s.title }}</h4>
                    <p>Автор: {{ all_posts_s.author }}</p>
                    <p>дата публикации: {{ all_posts_s.created }}<br></p>
                    <p>Текст: {{ all_posts_s.text|truncatewords:10 }}<br><br></p>

                {% endfor %}

            {% endblock content %}
        {% block lcontent %}{% endblock lcontent %}
