{% block side_bar %}
        {% if request.user.is_authenticated %}

             <a href="{% url "logout" %}">Выйти</a>
        {% else %}
             <h2><li><a href="{% url "login" %}">Войти</a></li></h2>
        {% endif %}
{% endblock %}
                {% if user.is_authenticated %}
              <h3>Ваше имя: {{ user.first_name }}</h3>

              <h3> Ваш логин: {{ user.username }}</h3>

                {% endif %}

            {% block content %}

            {% endblock content %}
        {% block lcontent %}{% endblock lcontent %}
        </div>
</body>
</html>